<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-4">
            <img class="img-thumbnail" src="http://www.muattack.com.br/arquivos/monster_lorencia_spider.jpg" alt="...">
            <ul class="pager">
                <li><a id="shop-back" href="#">Voltar</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2 data-content="title">Rune Blade +5</h2>
            <p data-content="description"></p>


            <span class="price" data-content="price">900 </span>
            <span class="text-muted currency">créditos</span>

            <div>
                <button id="btn-submit" type="submit" class="btn btn-info btn-lg">Comprar</button>
            </div>

        </div>

    </div>
</div>
