<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-4">
            <img class="img-thumbnail" src="http://www.muattack.com.br/arquivos/monster_lorencia_spider.jpg" alt="...">
            <!--
            <ul class="pager">
                <li><a class="shop-back" href="#">Voltar</a>
                </li>
            </ul>
-->
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2 id="shop-cart-title"></h2>
            <p data-content="description"></p>


            <span class="price" id="shop-cart-value"></span>
            <span class="text-muted currency">créditos</span>

            <div>
                <a id="shop-rev-btn" class="btn btn-default btn-lg btn-info"><i class="hidden-xs glyphicon glyphicon-plus-sign"></i> Comprar</a>
            </div>

        </div>
    </div>
</div>
<div class="row text-left">

    <p>
        <br /><em>Você terá a chance de revisar o seu pedido antes de ser finalizado.</em>
    </p>

</div>
