body {
    background-image: url("/resources/img/bg.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #000;
    color: #a99877;
    font-size: 13px;
}
@font-face {
    font-family: 'HominisNormal';
    src: url('http://demo.hongkiat.com/css-better-paragraph/styles/fonts/HOMINIS-webfont.eot');
    src: url('http://demo.hongkiat.com/css-better-paragraph/styles/fonts/HOMINIS-webfont.eot?#iefix') format('embedded-opentype'), url('http://demo.hongkiat.com/css-better-paragraph/styles/fonts/HOMINIS-webfont.woff') format('woff'), url('http://demo.hongkiat.com/css-better-paragraph/styles/fonts/HOMINIS-webfont.ttf') format('truetype'), url('http://demo.hongkiat.com/css-better-paragraph/styles/fonts/HOMINIS-webfont.svg#HominisNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
p.letter {
    color: #490908;
    font-family: 'Georgia', Times, serif;
    line-height: 24px;
    padding: 30px;
    border-left: 5px solid #493016;
    background-color: #e8cb8d;
    line-height: 32px;
    box-shadow: 10px 10px 0px 0px #060505;
/*    position: relative;*/
}
p.letter:first-letter {
    font-size: 72px;
    float: left;
    padding: 10px;
    height: 64px;
    font-family: 'HominisNormal';
    background-color: #7F7664;
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    line-height: 70px;
}
p.letter:first-line {
    font-weight: bold;
    font-size: 24px;
    color: #7f7664;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #F3E6D0;
}
h1 {
    border-bottom: 1px solid #28241d;
    padding-bottom: 8px;
    margin-bottom: 15px;
    /*    font-family: "Palatino Linotype";*/
}
h5 {
    margin: 0;
    font-size: 14px;
}
h6 {
    margin-bottom: 0;
    padding-right: 10px;
    font-size: 11px;
}
strong {
    color: #AD835A;
}
p {
    margin: 0 0 20px;
}
li {
    margin: 3px 0;
}
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border: none;
    border-bottom: 1px solid #28241d;
}
.table>thead:first-child>tr:first-child>th {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #68381f;
    border-top: 1px solid #62351f;
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background: #070706;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: #12110f;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background: #171614;
}
.table-striped>thead {
    background: #300a00;
    color: #F3E6D0;
}
.table-bordered {
    border-color: #28241d;
}
a {
    /*    color: #ad835a;*/
    color: #a99877;
}
p>a {
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #F3E6D0;
    text-decoration: underline;
}
/*
====================================

            BOTSTRAP

====================================  */

/*
====================================
TOP MENU
====================================  */

.menu-container {
    padding: 0;
}
.navbar {
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.navbar-default .navbar-brand {
    color: #a99877;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    text-shadow: 0px 0px 10px #F3E6D0;
    color: #F3E6D0;
}
#logo.active {
    text-shadow: 0px 0px 10px #F3E6D0;
    color: #F3E6D0;
}
.navbar-default .navbar-toggle {
    text-shadow: 0px 0px 20px #000;
    border-color: #2E2925;
    /*    background: #191814;*/
    background: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    text-shadow: 0px 0px 10px #F3E6D0;
    border-color: #2E2925;
    /*    background: #000;*/
    background: none;
    color: #F3E6D0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #2E2925;
}
.navbar-default {
    /*    background: #191814;*/
    background: #12110f;
    border-color: transparent;
    border-top: 2px solid #000;
    box-shadow: inset 0 -2px #4c0b05;
}
.navbar-default .navbar-nav>li,
.navbar-avatar .navbar-nav>li {
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #a99877;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 2px solid #4c0b05;
    border-top: 0;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        border-bottom: 0;
    }
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #F3E6D0;
    border-bottom: 2px solid #e60101;
    text-shadow: 0px 0px 10px #F3E6D0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #F3E6D0;
    background: #000;
    /*    background: none;*/
    border: 0;
    border-bottom: 2px solid #e60101;
    text-shadow: 0px 0px 10px #87c7eb;
    border-top: 0;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        border-bottom: 0;
        border-top: 0;
    }
}
.navbar-default .navbar-avatar>.active>a,
.navbar-default .navbar-avatar>.active>a:hover,
.navbar-default .navbar-avatar>.active>a:focus {
    background: #000;
    /*    background: none;*/
}
/* LoginFIX*/

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        border-left: 0px;
        border-right: 0px;
    }
    #menu-login>a {
        border-left-width: 0px;
        border-right-width: 1px;
    }
}
/*
====================================
NAV TABS
====================================  */

.nav-tabs {
    border-bottom-color: #2E2925;
}
.nav>li>a {
    background: #12110f;
    /*    background: #191814;*/
    /*    background: none;*/
    border-bottom: 1px solid #2E2925;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: #12110f;
    border: 1px solid #2E2925;
    border-bottom-color: #12110f;
    color: #F3E6D0;
}
.thumbnail {
    padding: 3px;
    background: #171614;
    border-color: #171614;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #87c7eb;
    text-decoration: none;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.thumbnail>.img-thumbnail {
    margin-bottom: 10px;
}
.img-thumbnail {
    background-color: transparent;
    border: 0;
    padding: 0px;
}
.thumbnail>h3 {
    font-size: 15px;
    color: #F3E6D0;
    padding-left: 10px;
    margin: 0;
}
.panel {
    background: none;
    border-color: transparent;
}
.panel-default>.panel-heading {
    color: #F3E6D0;
    border-bottom: 1px solid #2E2925;
    background: none;
}
.panel-title {
    text-transform: uppercase;
}
.panel-body {
    /* background: url(http://us.battle.net/d3/static/images/layout/section-bg.jpg) repeat-x;   */
    padding: 0;
}
/*
====================================
BTN
====================================  */

.navbar .btn {
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a.btn-danger:hover,
.navbar-default .navbar-nav>li>a.btn-danger:focus {
    background-color: #e60101;
    border-bottom-color: #e60101;
}
.btn-info {
    background: #A30000;
}
.btn-info {
    text-shadow: 0 0 5px #dd3400;
    border-radius: 0px;
    /*    border: 1px solid #000;*/
    /*    background: linear-gradient(#0e0d0c, #441411);*/
    /*    color: #ffcb8d;*/
    border: 1px solid #4c0b05;
    color: #ffffff;
    background: #A30000;
    background: linear-gradient(to bottom, #A30000 0, #660000 100%);
    /*    border-color: rgba(0, 0, 0, 0.5);*/
    box-shadow: 3px 3px 10px #000;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    /*    background: linear-gradient(#0e0d0c, #441411);*/
    color: #fff;
    border: 1px solid #4c0b05;
    background: #B80000;
    background: linear-gradient(to bottom, #B80000 0, #660000 100%);
    text-shadow: 0px 0px 10px #dd3400;
}
.help-block {
    color: #bdbdbd;
}
/*
====================================
ACCORDION
====================================  */

.list-group {
    margin-bottom: 0;
}
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}
.list-group-item {
    margin-bottom: 0;
    margin-top: 0;
    background: none;
    border: 0;
    border-bottom: 1px solid #28241d;
    padding: 0;
}
.list-group-item>a {
    padding: 10px 15px;
    display: block;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background: #000000;
    color: #F3E6D0;
    border-bottom: 1px solid #28241d;
    text-decoration: none;
}
.list-group-item>a,
.list-group-item>a:hover,
.list-group-item>a:focus {
    text-decoration: none;
}
.list-group-item.active>a,
.list-group-item.active>a:hover,
.list-group-item.active>a:focus,
.list-sub-group .list-group-item.active>a,
.list-sub-group .list-group-item.active>a:hover,
.list-sub-group .list-group-item.active>a:focus {
    /*    font-size: 16px;*/
    background: #000000;
    color: #F3E6D0;
    /*    color: #87c7eb;*/
    text-decoration: none;
}
.list-sub-group .list-group-item>a {
    padding: 10px 0px 10px 30px;
    background: #0D0C0A;
}
.list-group-item .glyphicon {
    font-size: 10px;
}
.list-group-item.active>a>i {
    color: #87c7eb;
}
/*
====================================
BREADCUMB
====================================  */

.breadcrumb {
    background: none;
    border-radius: 0;
    margin-bottom: 0px;
}
.bread a.active {
    color: #F3E6D0;
    text-decoration: none;
}
/*
====================================
ALERTS
====================================  */

.alert {
    font-weight: normal;
    border-width: 0;
    border-radius: 0;
    border-left-style: solid;
    border-left-width: 10px;
    padding: 10px;
    font-size: 14px;
}
.alert h1 {
    border: 0;
    margin: 0;
    font-weight: bold;
}
.alert h3 {
    border: 0;
    margin: 0;
    font-weight: bold;
}
.alert-warn {
    border-color: #dfb56c;
    color: #826430;
    background: #efe1b3;
    border-left-color: #dfb56c;
}
.alert-success {
    border-color: #8ac38b;
    color: #356635;
    background: #cde0c4;
    border-left-color: rgb(138, 195, 139);
}
.alert-success h1,
.alert-success h3 {
    color: #356635;
}
.alert-danger {
    border-color: #953b39;
    color: #fff;
    background: #c26565;
}
.alert-danger h1,
.alert-danger h3 {
    color: #fff;
}
.alert a {
    color: #fff;
    text-decoration: underline;
}
.alert a:hover,
.alert a:focus {
    color: #fff;
    text-decoration: underline;
}
/*
====================================
MISc
====================================  */

.text-danger {
    color: #e60101;
}
.text-alert {
    color: #fba412;
}
.text-info {
    color: #3aaafe;
}
.text-success {
    color: #69ba02;
}
.avatar {
    border: 2px solid #3aaafe;
}
#menu-avatar:hover,
#menu-avatar>img:hover {
    border-color: #87c7eb;
    color: #87c7eb
}
/*
====================================
           INSIGNIAS
====================================  */

#profile-login {
    text-transform: uppercase;
}
#profile-level-info {
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    border: solid white 2px;
    height: 32px;
    width: 32px;
    line-height: 28px;
    text-align: center;
    cursor: default;
}
#profile-level-info.lvl_1 {
    border-color: #9b9b9b;
}
.badge {
    font-size: 14px;
}
/*
====================================
           MY THEME
====================================  */

.content {
    background: url("/resources/img/content-top-01.jpg") repeat-x #12110f;
    background-position: -3px 0;
    border-left: 3px solid #1d1916;
    border-right: 3px solid #1d1916;
    border-bottom: 3px solid #1d1916;
    border-top: 2px solid #000;
}
.notice-separator {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #282622 1px solid;
}
.news .notice {
    padding-top: 0px;
}
.notice h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #f3e6d0;
    border-bottom: 0;
}
.notice-separator {
    /*    border-bottom: 1px solid #2E2925;*/
}
.sidebar {
    border-left: 1px solid #2a241c;
}
/*
====================================
RANKING
====================================  */

.table>#ranking-tbody>tr>td {
    text-align: left;
}
.table-center {
    text-align: center !important;
}
.rank-img {
    width: 42px;
    heigth: 42px;
}
.ranking {
    background: #191814;
    border: 0;
    border-top: none;
}
.ranking-tabs {
    border-bottom: 1px solid #300a00;
}
.ranking-tabs>li>a:hover,
.ranking-tabs>li>a:focus,
.ranking-tabs>li.active>a,
.ranking-tabs>li.active>a:hover,
.ranking-tabs>li.active>a:focus {
    background: #300a00;
    font-weight: bold;
    border-bottom: 1px solid #300a00;
}
.skybar-demon {
    background: url("/resources/img/header-01.jpg") repeat-x;
}
.skybar-construction {
    background: url("/resources/img/header-mu-sm01.jpg") repeat-x;
    background-position: -50px -260px;
}
.credits {}
/*
====================================
SHOP
====================================  */

#shop-display .price {
    font-size: 18px;
    padding-left: 10px;
    color: #69ba02;
}
#shop-display .currency {
    font-size: 13px;
}
/*Extra-small*/

@media (max-width: 768px) {
    #shop-cart {
        text-align: center;
    }
}
@media (min-width: 768px) {
    #shop-cart h2 {
        margin-top: 0px;
    }
}
#shop-cart .thumbnail {
    padding: 5px 20px;
}
#shop-cart #btn-submit {
    margin-top: 20px;
}
#shop-cart .img-thumbnail {
    background: none;
    border: none;
}
.bank {
    border: 0;
    background: none;
}
#shop-cart .price {
    font-size: 32px;
    color: #69ba02;
}
#shop-cart .currency {
    font-size: 13px;
}
#shop-cart label {
    color: #ad835a;
    font-size: 18px;
}
#shop-cart select {
    /*
       background: #737373;
    color: #F3E6D0;
    border-color: #28241d
        border-color: #e60101;
*/
}
.signature {
    font-style: italic;
    margin: 0 0 5px;
}
.bg-chars {
    /*    background-image: url("/resources/img/welcome-001.png");*/
}
/* FOOTER */

.footer {
    width: 100%;
    margin-top: 20px;
}
.copyright {
    margin-top: 35px;
}
.footer ul,
.footer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.footer .title {
    color: #ad835a;
    text-transform: uppercase;
    font-size: 18px;
}
.footer a:hover,
.footer a:focus {
    color: #FFF;
    text-decoration: none;
}
.footer a {
    font-size: 13px;
    color: #6D624C;
}
.share-buttons {
    list-style: none;
    padding: 0px;
}
.share-buttons li {
    display: inline;
    padding: 0px;
}
