<div class="col-xs-12 col-sm-4">
    <div class="row separator">
        <div class="media">
            <a class="pull-left" href="#">
                <img id="badge-1-img" class="media-object" src="/resources/img/badges/1-off.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading" id="badge-1-name"></h4>
                <span id="badge-1-description"></span>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <div class="row separator">
        <div class="media">
            <a class="pull-left" href="#">
                <img id="badge-2-img" class="media-object" src="/resources/img/badges/2-off.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading" id="badge-2-name"></h4>
                <span id="badge-2-description"></span>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-4">
    <div class="row separator">
        <div class="media">
            <a class="pull-left" href="#">
                <img id="badge-3-img" class="media-object" src="/resources/img/badges/3-off.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading" id="badge-3-name"></h4>
                <span id="badge-3-description"></span>
            </div>
        </div>
    </div>
</div>
<!--
                    <div class="col-xs-12 col-sm-4">
                        <div class="row separator">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://steamcommunity-a.akamaihd.net/public/images/badges/02_community/VoteOnGreenlight_off.png?v=4">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Ajudante Enquete</h4>
                                    Responda uma pergunta da sessão <strong>Enquete</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row separator">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://steamcommunity-a.akamaihd.net/public/images/badges/02_community/JoinGroup_on.png?v=4">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Exército de um homem só</h4>
                                    Possua 5 personagens acima do level 50
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
-->
